.container {
  width: 503px;
  height: 77px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  .cream {
    margin-left: 20px;
  }
}